.App {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  font-size: 4rem;
  color:white;
  font-family: 'FeedjiqueRegular'; 
  text-align: center;
  margin-top: 0px;
  padding: 20px;
}

@media (grid:0) {

@media screen and (min-width:768px) {

.layout {
  height:100vh;
  margin-left: 160px;
  display: grid;
  color:white;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  grid-template-rows: 0.4fr 2fr 1.2fr 0.8fr;
  grid-template-areas: 
  "nav nav nav nav"
  "sidebar main main main"
  "sidebar content1 content2 content3"
  "sidebar footer footer footer"
}

.nav {
  background-color: rgb(7, 201, 255);
}

.main {
  background-color: rgb(97, 96, 96);
}

.sidebar {
  background-color:blueviolet;
}

.content1 {
  background-color: cadetblue;
}

.content2 {
  background-color:gray;
}

.content3 {
  background-color: hotpink;
}

footer {
  background-color:black;
}
}}

