.App {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  font-size: 4rem;
  color:white;
  font-family: 'FeedjiqueRegular'; 
  text-align: center;
  margin-top: 25px;
  padding: 20px;
}

.layout {
  height:75vh;
  width:10vw;
  display: grid;
  color:white;
  /* grid-auto-rows: 90px; */
  grid-template-rows: 50px 100px;
  grid-template-columns: 300px 300px;
  gap: 10px;
}

.logo {
  background-color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 2;
}

.header {
  background-color: rgb(255, 15, 159);
  grid-row: 1;
  grid-column: 2;
}

.nav {
  background-color: rgb(32, 39, 218);
  grid-row: 2;
  grid-column: 1;
}

.content {
  background-color: rgb(178, 254, 26);
  grid-row: 2;
  grid-column: 2;
}

.footer {
  background-color: rgb(9, 9, 9);
  grid-row: 1/2;
  grid-column: 1/2;
}